# Main Notebook
### Include:
 - <b>datasets</b> folder - folder that holds the files of the different datasets
### Imports:
 - <b>paths</b> - object that contain paths to datasets in datasets folder
 - <b>DataPreprocessor</b> - class for cleaning data, fill missing values, encoding, detect outliers with IQR, split to train/test and more... 
 - <b>Utils</b> - class for upload csv and download from kaggle function
 - <b>ClassifierModel</b> - class for train, predict, evaluate and more...

In [1]:
#import sys
#sys.path.append(r'C:\Users\itzik\AI Course\classes')

In [2]:
from paths import datasets
from data_preprocessor import DataPreprocessor
from utils import Utils
from classifier_model import ClassifierModel

In [3]:
df = Utils.load_csv(datasets["titanic"])
dp = DataPreprocessor(df)
dp.explore_data()

First 5 rows:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
__________________________________________

Shape of the DataFrame: (891, 12)
__________________________________________

Columns:
 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
__________________________________________

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
__________________________________________

Data Types:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
__________________________________________

Unique values per column:
 PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64
__________________________________________

In [4]:
dp.fill_missing()

apply median to column PassengerId
apply median to column Survived
apply median to column Pclass
apply mode to column Name
apply mode to column Sex
apply median to column Age
apply median to column SibSp
apply median to column Parch
apply mode to column Ticket
apply median to column Fare
apply mode to column Cabin
apply mode to column Embarked
fill_missing terminated successfully

In [5]:
dp.detect_outliers_iqr()

detect_outliers_iqr terminated successfully

In [6]:
dp.encode_categorical()

encode_categorical terminated successfully

In [7]:
dp.scale_features()

scale_features terminated successfully

In [8]:
clean_df = dp.get_clean_data()
clean_df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,PassengerId_outlier,Survived_outlier,Pclass_outlier,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,-1.730108,-0.789272,0.827377,-0.565736,0.432793,-0.473674,-0.502445,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
1,-1.726220,1.266990,-1.566107,0.663861,0.432793,-0.473674,0.786845,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,-1.722332,1.266990,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
3,-1.718444,1.266990,-1.566107,0.433312,0.432793,-0.473674,0.420730,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
4,-1.714556,-0.789272,0.827377,0.433312,-0.474545,-0.473674,-0.486337,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True

In [9]:
X_train, X_test, y_train, y_test = dp.split_to_train_test(target_column="Survived")
X_train.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,PassengerId_outlier,Survived_outlier,Pclass_outlier,Age_outlier,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
331,-0.443219,-1.566107,1.240235,-0.474545,-0.473674,-0.074583,0.0,0.0,0.0,-0.282843,...,False,False,False,False,False,False,False,False,False,True
733,1.119710,-0.369365,-0.488887,-0.474545,-0.473674,-0.386671,0.0,0.0,0.0,-0.282843,...,False,False,False,False,False,False,False,False,False,True
382,-0.244937,0.827377,0.202762,-0.474545,-0.473674,-0.488854,0.0,0.0,0.0,-0.282843,...,False,False,False,False,False,False,False,False,False,True
704,1.006962,0.827377,-0.258337,0.432793,-0.473674,-0.490280,0.0,0.0,0.0,-0.282843,...,False,False,False,False,False,False,False,False,False,True
813,1.430741,0.827377,-1.795334,3.154809,2.008933,-0.018709,0.0,0.0,0.0,-0.282843,...,False,False,False,False,False,False,False,False,False,True

In [10]:
clf = ClassifierModel()

In [11]:
clf.train(X_train, y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [ ]:
clf.evaluate(X_test, y_test)

In [ ]:
probs = clf.predict_proba(X_test)

In [ ]:
clf.cross_validate(X_train, y_train)

In [ ]:
clf.save_model("random_forest_model.pkl")